.item__btn {
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 12px;
    border: none;
    background-color: rgb(255, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    font-family: "Poppins", "Rubik", "Montserrat", "Mulish", sans-serif;
    margin: 5px 0;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity .3s ease;
}

.item__btn:hover,
.item__btn:active {
    opacity: 0.5 !important;
}
.add__item{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(7, 123, 255);
    padding: 15px 30px;
    border-radius: 5px;
    gap: 15px;
}
.add__item-input{
    width: 100%;
    font-size: 16px;
    color: #222;
    font-family: "Poppins",sans-serif;
    border-radius:6px;
    border: none;
    outline: none;
    padding: 10px 15px;
}
.add__item .item__btn{
    background-color: rgb(35, 37, 36) !important;
    padding: 12px 15px;
    font-size: 14px;
}