 
nav {
    background-color: rgb(37, 51, 51);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    margin-right: 10px;
}
ul li a {
    text-decoration: none;
    color: white;
}
.home {
    background-color: rgb(90, 27, 27);
    height: 80vh;
    color: white;
    text-align: center;
    font-size: 50px;
}
.about {
    background-color: rgb(240, 156, 0);
    height: 80vh; 
    text-align: center;
    font-size: 50px;
}
.footer {
    background-color: rgb(37, 51, 51);
    height: 72px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}